@import "tailwindcss";

html, body { 
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    .mat-mdc-tab-body-wrapper,
    mat-tab {
      height: 100%;
    }
}
  